:root {
  --main-text-color: #52b788;
  --main-bg-color: #0f2338;
  --secondary-bg-color: #173452;
  --text-white: #fff;
}

li {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}
a {
  transition: all 0.3s ease;
}

a:hover {
  color: var(--main-text-color);
}

p {
  display: inline;
}

.header {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

#bars-menu {
  display: none;
}

nav {
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75) !important;
  /* position: fixed !important; */
}

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: var(--main-bg-color);
  color: black;
}

.brand-name {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: bolder;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  color: var(--text-white);
  text-decoration: none;
  display: block;
  width: 100%;
  transition: all 1s ease-in;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-link {
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.navbar-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 4;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--main-text-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-link:hover:after {
  width: 100%;
  left: 0;
}
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    display: none;
  }
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--main-bg-color);
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    width: 100%;
  }
  .navigation-menu ul {
    display: none;
  }
  .navigation-menu.expanded ul {
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
