@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

html{
  background-color: #0d1b2a;
}

ol { counter-reset: item; }
ol li { display: block; }
ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #52b788;
}

li{
  font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
}
a{
  transition: all .3s ease;
}

a:hover{
  color: #52b788;
}

p{
  display: inline;
}